*
{
margin: 0;
padding: 0;
}
header
{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: rgb(81, 82, 129);
}
.navigation
{
    position: relative;
    width: 400px;
    height: 70px;
}
.navigation ul
{
    display: flex;
}
.navigation ul li
{
    position: relative;
    list-style: none;
    height: 70px;
    width: 80px;
    z-index: 1;
}
.navigation ul li a
{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(255, 240, 240);
    text-align: center;
}
.navigation ul li a .icon
{
    position: relative;
    line-height: 75px;
    transition: 0.25s;
    font-size: 30px;
}
.navigation ul li.active a .icon
{
font-size: 20px;
transform: translateY(-6px);
}
.navigation ul li a .text
{
    position: absolute;
    font-size: 12px;
    bottom: 20px;
    font-weight: 400;
    transition: 0.25s;
    text-transform: uppercase;
    transform: scale(0);
}
.navigation ul li.active a .text
{
    transform: scale(1);
}
.indicator
{
    position: absolute;
    left: 0;
    width: 80px;
    height: 70px;
    border-radius: 15px;
    transition: 0.3s;
}
.navigation ul li:nth-child(1).active ~ .indicator
{
    background: #f53b57;
    transform: translateX(0);
    box-shadow: 0 0 45px #f53b57;
}
.navigation ul li:nth-child(2).active ~ .indicator
{
    background: #f53b57;
    transform: translateX(80px);
    box-shadow: 0 0 45px #f53b57;
}
.navigation ul li:nth-child(3).active ~ .indicator
{
    background: #f53b57;
    transform: translateX(160px);
    box-shadow: 0 0 45px #f53b57;
}
.navigation ul li:nth-child(4).active ~ .indicator
{
    background: #f53b57;
    transform: translateX(240px);
    box-shadow: 0 0 45px #f53b57;
}
.navigation ul li:nth-child(5).active ~ .indicator
{
    background: #f53b57;
    transform: translateX(320px);
    box-shadow: 0 0 45px #f53b57;
}